# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build files
build/
dist/

# Dependency directories
/.pnp
.pnp.js

# Testing
/coverage

# macOS
.DS_Store

# Editor
.vscode/
.idea/

# Miscellaneous
*.log
*.swp
*.bak
